<div id="movie-main-info">
    @if (!movie) {
        <p>Film introuvable</p>
    } @else {
        <img id="movie-image" src="{{ movie.affiche }} " alt="movie poster" />
        <div id="text-info">
            <h2 id="movie-title">{{ movie.titre }}</h2>
            <p id="movie-director">{{ movie.realisateur }}</p>
            @if (year != "") {
                <p id="movie-date">{{ year }}</p>
            }
            <p id="movie-genre">
            @for (genre of movie.genres; track genre) {
                {{ 'genre.' + genre | translate }}
                @if (genre != movie.genres[movie.genres.length - 1]) {
                    {{ ' &middot; ' }}
                }
            }
            </p>
            <p id="movie-description">{{ descriptionLang }}</p>
        </div>
    }
</div>
<div id="movie-video">
    @if (movie && movie.video) {
        <iframe
            #movieVideo
            id="player"
            type="text/html"
            [src]="movie.video | safe"
            allowfullscreen
        >
        </iframe>
    } @else {
        <p>{{ 'movie.noData' | translate }}</p>
    }
</div>
