<div class="center">
    <div id="login-container">
        <div>
            <h1 id="app-name">Film Fiesta</h1>
            <p class="info" [innerHTML]="'login.info' | translate"></p>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" ngNoForm>
            <input
                id="identify"
                type="email"
                placeholder="{{ 'login.email' | translate }}"
                name="email"
                formControlName="email"
                required
            />
            <input
                id="password"
                type="password"
                placeholder="{{ 'login.password' | translate }}"
                name="password"
                formControlName="password"
                required
            />

            <div class="action">
                <a class="create-account" routerLink="/create-account">{{ "login.create" | translate }}</a>
                <input type="submit" value="{{ 'login.connection' | translate }}" />
            </div>
        </form>
        @if (isError) {
            <div class="error">{{ "login.wrong" | translate }}</div>
        }
    </div>
</div>
